
    <footer>
      <div class="top">
        <a href="#top">
          <svg viewBox="0 0 435 275">
            <path d="M408.15,272.29A23.93,23.93,0,0,1,390,264L237.65,87.24a27.31,27.31,0,0,0-41.3,0L44,264a24,24,0,0,1-32.72,3.37,23.53,23.53,0,0,1-3.56-34.12L200.14,10a22.31,22.31,0,0,1,33.72,0L426.27,233.24a23.69,23.69,0,0,1-18.12,39.05Z" transform="translate(0.5 0.21)"/>
          </svg>
        </a>
      </div>
      <div class="bottom">
        <div class="left">
          <a class="logo-link" href="https://mfaibrahem.github.io/my_portfolio/index.html" target="_blank">
            <div class="logo">
                <svg viewBox="-40 -40 716 627">
                    <g class="cls-0">
                        <g class="cls-1 g-1">
                            <polygon class="cls-2" points="26.56 538.54 2.94 519.86 35.75 451.79 117.94 519.01 95.77 537.84 61.15 546.49 26.56 538.54"/>
                            <path d="M677.93,719.08l81.23,66.43-21.63,18.37-34.38,8.59-34.37-7.89-23.22-18.37,32.37-67.13m-.35-1.58-33.26,69,24,19,34.81,8L738,804.8l22.73-19.3-83.15-68Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-2">
                            <polygon class="cls-3" points="36.38 451.01 118.23 389.01 118.23 517.95 36.38 451.01"/>
                            <path d="M759.73,656.51V783.39l-80.54-65.86,80.54-61m1-2-83.15,63,83.15,68v-131Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-3">
                            <polygon class="cls-4" points="1 371.51 35.03 450.99 2.79 517.87 1 371.51"/>
                            <path d="M643.53,640.52l33,77-31.22,64.75-1.73-141.71m-1.06-5,1.85,151,33.26-69-35.11-82Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-4">
                            <polygon class="cls-5" points="1.24 369.53 48.49 371.5 117.58 388.24 35.78 450.21 1.24 369.53"/>
                            <path d="M644,636.57l46.36,1.93L758.44,655,678,715.93l-34-79.36m-1.54-1.07,35.11,82,83.15-63-70.22-17-48-2Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-5">
                            <polygon class="cls-6" points="0.77 369.03 63.67 233.62 46.4 370.98 0.77 369.03"/>
                            <path d="M704.77,503.23,688,637l-44.42-1.9,61.23-131.83m1.79-6.23L642,636l46.84,2,17.72-141Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-6">
                            <polygon class="cls-7" points="47.63 370.62 64.17 233.19 118.23 387.3 47.63 370.62"/>
                            <path d="M706.41,501.89l53,151.22-69.27-16.38,16.23-134.84m-.48-4.39-16.85,140,71.92,17-55.07-157Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-7">
                            <polygon class="cls-7" points="3.65 198.83 63.28 231.22 1.17 367.62 3.65 198.83"/>
                            <path d="M646.14,466.17l58.49,31.76L643.7,631.74l2.44-165.57m-1-1.67-2.53,172,63.3-139-60.77-33Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-8">
                            <polygon class="cls-8" points="64.5 231.12 118.5 171.8 117.88 385.06 64.5 231.12"/>
                            <path d="M760,439.59l-.61,209L707.07,497.73,760,439.59m1-2.59-55.07,60.5,54.44,157L761,437Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-9">
                            <polygon class="cls-9" points="3.67 197.71 4.9 110.12 62.8 229.82 3.67 197.71"/>
                            <path d="M647.37,378.74l56.31,116.4-57.51-31.23,1.2-85.17m-.94-4.24-1.27,90,60.77,33-59.5-123Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-10">
                            <polygon class="cls-7" points="5.56 109.19 118.2 170.63 64.06 230.12 5.56 109.19"/>
                            <path d="M648.69,376.87l110.71,60.4-53.21,58.46-57.5-118.86m-2.26-2.37,59.5,123L761,437,646.43,374.5Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-11">
                            <polygon class="cls-6" points="119.49 170.35 105.06 33.76 178.16 277.11 119.49 170.35"/>
                            <path d="M748.12,305.52l70.2,233.71L762,436.69,748.12,305.52M746,295l15,142,61,111L746,295Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-12">
                            <polygon class="cls-6" points="181.43 281.66 317.5 248.14 317.5 350.69 181.43 281.66"/>
                            <path d="M959,515.28V616.37l-134.15-68L959,515.28m1-1.28L822,548l138,70V514Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-13">
                            <polygon class="cls-10" points="105.06 30.3 317.03 247.22 180.34 280.9 105.06 30.3"/>
                            <path d="M748.13,298.61,958.06,513.45,822.68,546.8,748.13,298.61M746,295l76,253,138-34L746,295Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-14">
                            <polygon class="cls-2" points="540.23 537.84 518.06 519.01 600.25 451.79 633.06 519.86 609.44 538.54 574.85 546.49 540.23 537.84"/>
                            <path d="M1242.07,719.08l32.37,67.13-23.22,18.37-34.37,7.89-34.38-8.59-21.63-18.37,81.23-66.43m.35-1.58-83.15,68L1182,804.8l34.85,8.7,34.81-8,24-19-33.26-69Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-15">
                            <polygon class="cls-4" points="517.77 389.01 599.62 451.01 517.77 517.95 517.77 389.01"/>
                            <path d="M1160.27,656.51l80.54,61-80.54,65.86V656.51m-1-2v131l83.15-68-83.15-63Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-16">
                            <polygon class="cls-11" points="600.97 450.99 635 371.51 633.21 517.87 600.97 450.99"/>
                            <path d="M1276.47,640.52l-1.73,141.71-31.22-64.75,33-77m1.06-5-35.11,82,33.26,69,1.85-151Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-17">
                            <polygon class="cls-5" points="518.42 388.24 587.61 371.49 634.76 369.53 600.22 450.21 518.42 388.24"/>
                            <path d="M1276,636.57l-34,79.36L1161.56,655l68.07-16.48,46.36-1.93m1.54-1.07-48,2-70.22,17,83.15,63,35.11-82Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-18">
                            <polygon class="cls-6" points="572.33 233.62 635.23 369.03 589.6 370.98 572.33 233.62"/>
                            <path d="M1215.23,503.23l61.23,131.83L1232,637l-16.81-133.73m-1.79-6.23,17.72,141,46.84-2-64.56-139Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-19">
                            <polygon class="cls-10" points="571.83 233.19 588.37 370.62 517.77 387.3 571.83 233.19"/>
                            <path d="M1213.59,501.89l16.23,134.84-69.27,16.38,53-151.22m.48-4.39L1159,654.5l71.92-17-16.85-140Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-20">
                            <polygon class="cls-12" points="572.72 231.22 632.35 198.83 634.83 367.62 572.72 231.22"/>
                            <path d="M1273.86,466.17l2.44,165.57-60.93-133.81,58.49-31.76m1-1.67-60.77,33,63.3,139-2.53-172Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-21">
                            <polygon class="cls-13" points="517.5 171.8 571.5 231.12 518.12 385.06 517.5 171.8"/>
                            <path d="M1160,439.59l52.92,58.14-52.31,150.88-.61-209m-1-2.59.63,217.5,54.44-157L1159,437Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-22">
                            <polygon points="631.1 110.12 632.33 197.71 573.2 229.82 631.1 110.12"/>
                            <path d="M1272.63,378.74l1.2,85.17-57.51,31.23,56.31-116.4m.94-4.24-59.5,123,60.77-33-1.27-90Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-23">
                            <polygon class="cls-7" points="517.8 170.63 630.44 109.19 571.94 230.12 517.8 170.63"/>
                            <path d="M1271.31,376.87l-57.5,118.86-53.21-58.46,110.71-60.4m2.26-2.37L1159,437l55.07,60.5,59.5-123Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-24">
                            <polygon class="cls-10" points="530.94 33.76 516.51 170.35 457.84 277.11 530.94 33.76"/>
                            <path d="M1171.88,305.52,1158,436.69l-56.35,102.54,70.2-233.71M1174,295l-76,253,61-111,15-142Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-25">
                            <polygon class="cls-6" points="318.5 248.14 454.57 281.66 318.5 350.69 318.5 248.14"/>
                            <path d="M961,515.28l134.15,33.05L961,616.37V515.28M960,514V618l138-70L960,514Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-26">
                            <polygon class="cls-10" points="318.97 247.22 530.94 30.3 455.66 280.9 318.97 247.22"/>
                            <path d="M1171.87,298.61,1097.32,546.8,961.94,513.45l209.93-214.84M1174,295,960,514l138,34,76-253Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-27">
                            <polygon class="cls-8" points="4.9 108.42 103.6 29.46 118.4 169.61 4.9 108.42"/>
                            <path d="M745.2,296.92l14.61,138.3-112-60.38,97.4-77.92M746,295,646,375l115,62L746,295Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-28">
                            <polygon class="cls-7" points="4 70.99 5.99 41.17 19.86 20.35 47.63 0.52 74.29 3.48 103.72 28.98 4.97 106.99 4 70.99"/>
                            <path d="M689.77,267.54l26.31,2.92,28.85,25-97.48,77-1-35,2-29.69,13.75-20.62,27.54-19.67m-.27-1-28,20-14,21-2,30,1,37,100-79-30-26-27-3Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-29">
                            <polygon class="cls-8" points="532.4 29.46 631.1 108.42 517.6 169.61 532.4 29.46"/>
                            <path d="M1174.8,296.92l97.4,77.92-112,60.38,14.61-138.3M1174,295l-15,142,115-62-100-80Z" transform="translate(-642 -266.5)"/>
                        </g>
                        <g class="cls-1 g-30">
                            <polygon class="cls-7" points="532.77 28.48 558.03 5.78 580.08 2.5 606.7 10.93 621.55 30.73 630.5 59.58 631.48 107.44 532.77 28.48"/>
                            <path d="M1222,269.52l26.35,8.34,14.71,19.6,8.9,28.7,1,46.72L1175.55,295l24.7-22.2,21.79-3.24m.08-1-22.31,3.32L1174,295l100,80-1-49-9-29-15-20-26.88-8.51Z" transform="translate(-642 -266.5)"/>
                        </g>
        
                    </g>
                </svg>
            </div>
          </a>
          <div class="footer-nav">
            <a href="https://mfaibrahem.github.io/my_portfolio/index.html" target="_blank">Mostafa Ibrahem</a>
            <div class="nav-link">
              <a href="https://mfaibrahem.github.io/my_portfolio/about.html" target="_blank">About</a>
              <a href="https://mfaibrahem.github.io/my_portfolio/work.html" target="_blank">Work</a>
              <a href="https://mfaibrahem.github.io/my_portfolio/contact.html" target="_blank">Contact</a>
            </div>
          </div>
        </div>
        <div class="right">
          <div>
            <p>2018 &copy; Mostafa Ibrahem. All rights reserved.</p>
            <p>
              Made with 
              <svg viewBox="0 0 265 265">
                  <path class="cls-1" d="M134,254.5a13,13,0,0,1-9.26-3.88l-1.46-1.47c-28.38-28.8-52.89-53.67-98-118.88-13.84-20-13.63-52.78.5-79.75,11.66-22.26,30.11-35,50.64-35a52.67,52.67,0,0,1,14.41,2.07C106.31,22,122.9,33.52,134,47.66,145.1,33.52,161.7,22,177.21,17.57a52.67,52.67,0,0,1,14.41-2.07c20.53,0,39,12.76,50.64,35,14.13,27,14.34,59.77.5,79.75-45.15,65.21-69.66,90.08-98,118.88l-1.46,1.47A13,13,0,0,1,134,254.5Z" transform="translate(-2 -2.5)"/>
              </svg>
              in shubra Cairo/Egypt.
            </p>
          </div>
        </div>
      </div>
  
    </footer> 