
@include mediaExSm {

}

@include mediaSm {

  .reg-log {
    &.clip-reg-log {
      transform: translateX(45vw);
    }
    a.logo {
      display: block;
    }
  }

  .alert {
    &>div {
      width: 60%;
      padding: 1.6rem 2.4rem;
      svg {
        width: 1rem;
        height: 1rem;
      }

      span {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
        margin: 0 -2.4rem 2rem -2.4rem;
      }

      .y-n-div {
        button {
          font-size: 1.1rem;
          padding: .5rem 1rem;
        }
      }
    }
  }

  header {
    width: 45vw;
  }

  .container {
    &.clip-container {
      transform: translateX(45vw);
    }
    .card {
      width: 65vw;
    }
    .add-story-form {
      width: 90vw;
    }

    .stories-wrapper {
      grid-template-columns: 1fr 1fr;
    }

    .single-story {
      .top {
        .join-date {
          font-size: 1.2rem;
        }
      }
    }
    .dashboard-wrapper {
      .head .content .info span.join-date {
        font-size: 1.3rem;
      }
    }
  }
  footer {
    &.clip-footer {
      transform: translateX(45vw);
    }
  }
}

@include mediaMd {

  .reg-log {
    &.clip-reg-log {
      transform: translateX(35vw);
    }
  }
  .alert {
    &>div {
      width: 50%;
      padding: 1.8rem 2.8rem;
      svg {
        width: 1.1rem;
        height: 1.1rem;
      }

      span {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
        margin: .5rem -2.8rem 2rem -2.8rem;
      }

      .y-n-div {
        button {
          font-size: 1.2rem;
          padding: .8rem 1.7rem;
        }
      }
    }
  }


  header {
    width: 35vw;
  }
  .container {

    &.clip-container {
      transform: translateX(35vw);
    }
    .card {
      width: 50vw;
    }
    
  }
  .add-story-form {
    width: 80vw;
  }

  footer {

    .bottom {
      
      display: flex;
      justify-content: space-between;
      padding: 0 2.4rem;

      .left {
        flex-direction: row;
        
        .footer-nav {
          margin-left: 2rem;  
        }
      } // end left

      .right {
        div {
          align-items: flex-start;
        }
      }
    } // end bottom
    &.clip-footer {
      transform: translateX(35vw);
    }
  }



}

@include mediaLg {
  .reg-log {
    &.clip-reg-log {
      transform: translateX(26vw);
    }
  }
  header {
    width: 26vw;
  }
  .container {
    &.clip-container {
      transform: translateX(26vw);
    }
    .card {
      width: 40%;
    }

  }
  .add-story-form {
    width: 70%;
  }

  footer {
    &.clip-footer {
      transform: translateX(26vw);
    }
  }
}