
.reg-log {
  @include easeOut(.6s);
  a:visited {
    color: unset;
  }
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1.3rem;
  background-color: #576574;
  margin-bottom: 3rem;
  a.logo {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    top: .6rem;
    left: 75px;
    svg {
      width: 100%;
      height: 100%;
      g {
        .to-filled {
          @include easeOut(.3s);
          fill: #FFF;
        }
        .to-stroked {
          @include easeOut(.3s);
          stroke-miterlimit: 0;
          stroke-linejoin: round;
          stroke-width: 0;
          fill: gold;
        }
        text {
          @include easeOut(.15s);
          font-size: 158px;
          font-family: garmamond, sans-serif;
          fill: #222;
        }
      }
    }
    &:hover {
      svg {
        g {
          .to-filled {
            fill: gold;
          }
          .to-stroked {
            fill: #FFF;
          }
        }
      }
    }
  }
  
  .navs {
    display: flex;
    a {
      color: #FFF;
      width: max-content;
      padding: .5rem 1rem;
      background-color: transparent;
      border-radius: 1rem;
      border: 1px solid;
      &:hover {
        &::after {
          transition: all 3s ease-out;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          background-color: transparent;
        }
      }

      position: relative;
      &:nth-child(1) {
        border-color: #3dc174;
        &:hover {
          &::after {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(61, 193, 116, 0.2) 75%);
          }

        }
      }
      &:nth-child(2) {
        border-color: hsl(240, 80%, 75%);
        margin-left: 1.4rem;
        &:hover {
          &::after {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, hsla(240, 80%, 75%, 0.2) 75%);            
          }
        }
      }
      i {
        margin-right: .4rem;
      }
    }
  }

    &.clip-reg-log {
    transform: translateX(80vw);
  }
}