
.single-story {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 2rem;
  margin-top: -77px;
  .top {
    display: flex;
    justify-content: space-between;
    background: #576574;
    margin: 0 -1rem 5rem -2rem;
    padding: 2rem 0 2rem 1rem;
    .info {
      display: flex;
      .first-letter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.7rem;
        width: 9rem;
        height: 9rem;
        background-color: #34e7e4;
        color: #FFF;
        font-size: 6rem;
        border-radius: 50%;
        margin-right: 2rem;
      }
      .sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          color: gold;
          text-transform: uppercase;
          width: max-content;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 0;
          padding: .6rem 1rem;
          background-color: transparent;
          border: 1px solid;
          border-color: #FFF;
          position: relative;
          &:hover {
            background-color: #FFF;
            @include easeOut(.2s);
            color: #333;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: transparent;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, .8) 75%);   
            }
          }
        
    
        }
        .n-stories {
          margin-top: 1rem;
          color: #FFF;
          font-size: 1.3rem;
          margin-bottom: .8rem;
          span {
            background: #34e7e4;
            padding: 0 1rem;
            border-radius: .2rem;
          }
        }
      }
    }
    .join-date {
      // display: none;
      color: #FFF;
      font-size: 1rem;
      align-self: flex-end;
    }
    

  }
  .bottom {
    background-color: hsla(240, 80%, 85%, .15);
    border-radius: .5rem;
    color: #222;
    padding: 1rem;
    position: relative;

    .story-title {
      padding: 0 1rem 1rem 1rem;
      margin: 0 -1rem 1rem -1rem;
      border-bottom: 3px solid #FFF;
      .header {
        margin: 0;
        font-weight: 300;
      }
       
      .likes-dislikes-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .3rem;
        .likes-dislikes {
          display: flex;
          .likes-wrapper, .dislikes-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            form {
              margin-right: .3rem;
              button {
                background: transparent;
                border: 0;
                outline: 0;
                cursor: pointer;
                &:focus {outline: 0}
                i {
                  font-size: 1.4rem;
                }
              }
            }
          }
          .likes-wrapper {
            margin-right: 1.4rem;
            form {
              button {
                i {
                  color: #fbc531;
                }
              }
            }

            .not-logged-likes {
              margin-right: .3rem;
              i {
                font-size: 1.4rem;
                color: #fbc531;
              }
            }
          }
          .dislikes-wrapper {
            form {
              button {
                i {
                  color: #ff6b81;
                }
              }
            }

            .not-logged-dislikes {
              margin-right: .3rem;
              i {
                font-size: 1.4rem;
                color: #ff6b81;
              }
            }
          }
        }


        .date {
          font-size: 1rem;
          font-family: garamond, sans-serif;
          font-weight: lighter;
          vertical-align: middle;
        }

      }

    }

    &>a {
      width: max-content;
      padding: .4rem 1rem;
      background-color: transparent;
      border: 1px solid #3dc174;
      border-radius: 1rem;
      margin-right: 1rem;
      position: relative;
      
      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          background: transparent;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(111, 202, 149, 0.4) 75%);
        }
      }
    }
    
    .delete-form {
      .delete-btn {
        border: 0;
        padding: .8rem .8rem .5rem .8rem;
        background-color: #EEE;
        box-shadow: 2px 2px 1.6rem rgba(0, 0, 0, .2);
        border-radius: 50%;
        position: absolute;
        top: -2rem;
        left: -1.8rem;
        transform: rotate(-30deg);
        @include easeOut(.3s);
        cursor: pointer;
        z-index: 1;
        &:focus {
          outline: 0;
          border: 0;
        }
        
        &:hover {
          transform: rotate(20deg);
          background-color: hsl(0, 80%, 65%);
          div {
            span {
              // visibility: visible;
              // opacity: 1;
              transform: translate(69%, 17%) rotate(24deg);
              animation: hide 2s .2s ease-out;
            }
            svg {
              .x-path {
                fill: #FFF;
              }
            }

          }
        }

        div {
          position: relative;

          span {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            bottom: calc(100% + 1.6rem);
            right: 50%;
            // transform: translate(50%, 150%);
            display: inline-block;
            background-color: hsl(240, 80%, 77%);;
            color: #FFF;
            padding: .4rem .6rem;
            font-size: .8rem;
            border-radius: .8rem;
            width: max-content;
            transition: visibility, opacity, transform .2s ease-out;
            transition-delay: .2s;
            
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -6px;
              border-width: 6px;
              border-style: solid;
              border-color: hsl(240, 80%, 77%) transparent transparent transparent;
            }
          }

          svg {
            width: 1.7rem;
            height: 1.7rem;
            .x-path {
              fill: hsl(0, 80%, 60%);
            }
          }
        }
        
      }
    }
  }
}

@keyframes hide {
  10% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}