
<div class="add-story-form">
  {{#if err}}
    <div class="display-error">{{err}}</div>
  {{else}}

  {{/if}}
  <h1>Add Story</h1>
  <form action="/api/stories" method="POST">
    <input id="title" type="text" name="title" placeholder="Title ....." value="{{title}}" required>
    <div></div>
    <label for="details">Tell Us Your Story</label>
    <textarea id="details" name="details" required>{{details}}</textarea>
    <div></div>
    <div class="select-check">
      <select name="status" id="status" required>
        <option value="public" selected>public</option>
        <option value="private">private</option>
      </select>
      <div class="check">
        <label for="checkbox">Allow Comments</label>
        <input id="checkbox" type="checkbox" name="allowComments" checked>
      </div>
    </div>

    <button type="submit">Save</button>
  </form>
</div>

